openapi: "3.0.3"
info:
  title: Gopher AI API
  description: |
    Go code quality analysis API powered by Gopher Guides training materials.
    Used by GitHub Agent Skills, CI/CD pipelines, and developer tools.
  version: "1.0.0"
  contact:
    name: Gopher Guides
    url: https://gopherguides.com
    email: info@gopherguides.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://gopherguides.com
    description: Production

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key

  schemas:
    Error:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: invalid_api_key
            message:
              type: string
              example: The provided API key is invalid or expired.

    Finding:
      type: object
      properties:
        severity:
          type: string
          enum: [critical, warning, suggestion]
        category:
          type: string
          example: error-handling
        title:
          type: string
          example: Unchecked error from os.Remove
        file:
          type: string
          example: main.go
        line:
          type: integer
          example: 42
        description:
          type: string
        fix:
          type: string

    Practice:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        severity:
          type: string
          enum: [critical, warning, suggestion]
        example:
          type: string
        references:
          type: array
          items:
            type: string

    ReviewComment:
      type: object
      properties:
        file:
          type: string
        line:
          type: integer
        severity:
          type: string
          enum: [critical, warning, suggestion]
        body:
          type: string

    Rule:
      type: object
      properties:
        id:
          type: string
        description:
          type: string
        severity:
          type: string
          enum: [critical, warning, suggestion]
        configurable:
          type: boolean

    RuleCategory:
      type: object
      properties:
        name:
          type: string
        severity:
          type: string
        rules:
          type: array
          items:
            $ref: "#/components/schemas/Rule"

    MetricsDataPoint:
      type: object
      properties:
        date:
          type: string
          format: date
        score:
          type: integer
        coverage:
          type: number
        critical_findings:
          type: integer
        warning_findings:
          type: integer

  responses:
    Unauthorized:
      description: Invalid or expired API key
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    RateLimited:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

paths:
  /api/gopher-ai/me:
    get:
      summary: Verify API key
      description: Verify your API key and view account information.
      operationId: getMe
      tags: [Authentication]
      responses:
        "200":
          description: Account info
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      plan:
                        type: string
                      requests_today:
                        type: integer
                      requests_limit:
                        type: integer
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/gopher-ai/practices:
    post:
      summary: Get best practices
      description: Get prescriptive best-practice guidance on a Go topic.
      operationId: getPractices
      tags: [Analysis]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [topic]
              properties:
                topic:
                  type: string
                  description: "Go topic (e.g., error handling, concurrency)"
                level:
                  type: string
                  enum: [brief, standard, detailed]
                  default: standard
      responses:
        "200":
          description: Best practices for the topic
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  topic:
                    type: string
                  practices:
                    type: array
                    items:
                      $ref: "#/components/schemas/Practice"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/gopher-ai/audit:
    post:
      summary: Code audit
      description: Submit Go code for expert-level quality audit.
      operationId: auditCode
      tags: [Analysis]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [code]
              properties:
                code:
                  type: string
                  description: Go source code to audit
                focus:
                  type: string
                  enum: [audit, security, performance, concurrency]
                  default: audit
                severity_config:
                  type: object
                  description: Override default severity levels
      responses:
        "200":
          description: Audit results
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  findings:
                    type: array
                    items:
                      $ref: "#/components/schemas/Finding"
                  score:
                    type: integer
                    minimum: 0
                    maximum: 100
                  summary:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/gopher-ai/examples:
    post:
      summary: Code examples
      description: Get code examples for specific Go patterns.
      operationId: getExamples
      tags: [Analysis]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [topic]
              properties:
                topic:
                  type: string
                complexity:
                  type: string
                  enum: [basic, intermediate, advanced]
                  default: intermediate
      responses:
        "200":
          description: Code examples
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  topic:
                    type: string
                  examples:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        code:
                          type: string
                        explanation:
                          type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/gopher-ai/review:
    post:
      summary: PR/diff review
      description: Review a PR diff against Gopher Guides standards.
      operationId: reviewDiff
      tags: [Analysis]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [diff]
              properties:
                diff:
                  type: string
                  description: Unified diff content
                context:
                  type: string
                  description: Additional context about the PR
                severity_config:
                  type: object
      responses:
        "200":
          description: Review results
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  score:
                    type: integer
                  recommendation:
                    type: string
                    enum: [APPROVE, REQUEST_CHANGES, COMMENT]
                  comments:
                    type: array
                    items:
                      $ref: "#/components/schemas/ReviewComment"
                  breaking_changes:
                    type: array
                    items:
                      type: string
                  summary:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  # ── Proposed Endpoints ──────────────────────────────────────────────

  /api/gopher-ai/rules:
    get:
      summary: Get rule sets
      description: "[Proposed] Get configurable rule sets with severity levels and categories."
      operationId: getRules
      tags: [Rules]
      responses:
        "200":
          description: Rule sets
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  version:
                    type: string
                  categories:
                    type: array
                    items:
                      $ref: "#/components/schemas/RuleCategory"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/gopher-ai/analyze:
    post:
      summary: Full project analysis
      description: "[Proposed] Submit a full project archive for comprehensive analysis."
      operationId: analyzeProject
      tags: [Analysis]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [project]
              properties:
                project:
                  type: string
                  format: binary
                  description: ".tar.gz archive of Go project"
                options:
                  type: string
                  description: "JSON options: {\"focus\": [\"all\"]}"
      responses:
        "200":
          description: Analysis results
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  analysis_id:
                    type: string
                  status:
                    type: string
                  score:
                    type: integer
                  findings:
                    type: array
                    items:
                      $ref: "#/components/schemas/Finding"
                  dependencies:
                    type: object
                    properties:
                      direct:
                        type: integer
                      indirect:
                        type: integer
                      outdated:
                        type: integer
                      vulnerable:
                        type: integer
                  coverage:
                    type: object
                    properties:
                      overall:
                        type: number
                  report_url:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/gopher-ai/metrics/{repo}:
    get:
      summary: Quality metrics
      description: "[Proposed] Get quality metrics over time for a repository."
      operationId: getMetrics
      tags: [Metrics]
      parameters:
        - name: repo
          in: path
          required: true
          schema:
            type: string
          description: "Repository in owner/name format (URL-encoded)"
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d, 1y]
            default: 30d
      responses:
        "200":
          description: Metrics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  repo:
                    type: string
                  period:
                    type: string
                  data_points:
                    type: array
                    items:
                      $ref: "#/components/schemas/MetricsDataPoint"
                  trend:
                    type: string
                  delta:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/gopher-ai/metrics/report:
    post:
      summary: Submit metrics report
      description: "[Proposed] Submit audit results for tracking and trend analysis."
      operationId: submitMetricsReport
      tags: [Metrics]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [repo, commit, score]
              properties:
                repo:
                  type: string
                commit:
                  type: string
                score:
                  type: integer
                coverage:
                  type: number
                findings:
                  type: object
                  properties:
                    critical:
                      type: integer
                    warning:
                      type: integer
                    suggestion:
                      type: integer
      responses:
        "200":
          description: Report submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  report_id:
                    type: string
                  trend:
                    type: string
                  previous_score:
                    type: integer
                  delta:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
