# Proposed Gopher AI API Endpoints
#
# These endpoints are PLANNED but NOT YET IMPLEMENTED.
# Do not depend on them in production.
# See openapi.yaml for currently available endpoints.

openapi: "3.0.3"
info:
  title: Gopher AI API - Proposed Endpoints
  description: |
    Proposed future endpoints for the Gopher AI API.
    These are NOT yet available. See the main openapi.yaml for live endpoints.
  version: "0.1.0-draft"
  contact:
    name: Gopher Guides
    url: https://gopherguides.com

servers:
  - url: https://gopherguides.com
    description: Production

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key

  schemas:
    Error:
      $ref: "openapi.yaml#/components/schemas/Error"

    Finding:
      $ref: "openapi.yaml#/components/schemas/Finding"

    Rule:
      type: object
      properties:
        id:
          type: string
        description:
          type: string
        severity:
          type: string
          enum: [critical, warning, suggestion]
        configurable:
          type: boolean

    RuleCategory:
      type: object
      properties:
        name:
          type: string
        severity:
          type: string
        rules:
          type: array
          items:
            $ref: "#/components/schemas/Rule"

    MetricsDataPoint:
      type: object
      properties:
        date:
          type: string
          format: date
        score:
          type: integer
        coverage:
          type: number
        critical_findings:
          type: integer
        warning_findings:
          type: integer

  responses:
    Unauthorized:
      description: Invalid or expired API key
      content:
        application/json:
          schema:
            $ref: "openapi.yaml#/components/schemas/Error"
    RateLimited:
      description: Too many requests
      content:
        application/json:
          schema:
            $ref: "openapi.yaml#/components/schemas/Error"

paths:
  /api/gopher-ai/rules:
    get:
      summary: Get rule sets
      description: "[Proposed] Get configurable rule sets with severity levels and categories."
      operationId: getRules
      tags: [Rules]
      responses:
        "200":
          description: Rule sets
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  version:
                    type: string
                  categories:
                    type: array
                    items:
                      $ref: "#/components/schemas/RuleCategory"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/gopher-ai/analyze:
    post:
      summary: Full project analysis
      description: "[Proposed] Submit a full project archive for comprehensive analysis."
      operationId: analyzeProject
      tags: [Analysis]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [project]
              properties:
                project:
                  type: string
                  format: binary
                  description: ".tar.gz archive of Go project"
                options:
                  type: string
                  description: "JSON options: {\"focus\": [\"all\"]}"
      responses:
        "200":
          description: Analysis results
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  analysis_id:
                    type: string
                  status:
                    type: string
                  score:
                    type: integer
                  findings:
                    type: array
                    items:
                      $ref: "openapi.yaml#/components/schemas/Finding"
                  dependencies:
                    type: object
                    properties:
                      direct:
                        type: integer
                      indirect:
                        type: integer
                      outdated:
                        type: integer
                      vulnerable:
                        type: integer
                  coverage:
                    type: object
                    properties:
                      overall:
                        type: number
                  report_url:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/gopher-ai/metrics/{repo}:
    get:
      summary: Quality metrics
      description: "[Proposed] Get quality metrics over time for a repository."
      operationId: getMetrics
      tags: [Metrics]
      parameters:
        - name: repo
          in: path
          required: true
          schema:
            type: string
          description: "Repository in owner/name format (URL-encoded)"
        - name: period
          in: query
          schema:
            type: string
            enum: [7d, 30d, 90d, 1y]
            default: 30d
      responses:
        "200":
          description: Metrics data
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  repo:
                    type: string
                  period:
                    type: string
                  data_points:
                    type: array
                    items:
                      $ref: "#/components/schemas/MetricsDataPoint"
                  trend:
                    type: string
                  delta:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"

  /api/gopher-ai/metrics/report:
    post:
      summary: Submit metrics report
      description: "[Proposed] Submit audit results for tracking and trend analysis."
      operationId: submitMetricsReport
      tags: [Metrics]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [repo, commit, score]
              properties:
                repo:
                  type: string
                commit:
                  type: string
                score:
                  type: integer
                coverage:
                  type: number
                findings:
                  type: object
                  properties:
                    critical:
                      type: integer
                    warning:
                      type: integer
                    suggestion:
                      type: integer
      responses:
        "200":
          description: Report submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
                  report_id:
                    type: string
                  trend:
                    type: string
                  previous_score:
                    type: integer
                  delta:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
